*{
    margin:0;
    padding: 0;
}
body{
    
    background-image: url('image/beautiful.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    
}
.my{
    background-color:rgba(4, 59, 23, 0.821);
}
.my2{
    display: flex;
    justify-content:right;
    padding:10px;
    margin-right: 100px;
}
a.nav_link:link,a.nav_link:visited{
    color:white;
    margin:9px;
    text-decoration: none;
    font: size 18px;
    padding:12px;
    margin-right:20px;
}
 a.nav_link:hover{
    color:white;
    margin:9px;
    padding:12px;
    text-decoration: none;
    font: size 18px;
    background-color:rgb(92, 67, 67);
    margin-right:20px;

} 
.yo{
    color:#f9faf8;
    font-size:18px;
}
.my2>p{
    margin-right:auto;
    margin-left:290px;
}
.overall{
    padding: 40px;
    padding-top:50px;
    display:flex;
}
.sec_text{
    width:50%;
    color:white;
    margin-top:0;
    font-size: 18px;
    margin-left:200px;
}
.main_text{
    font-size: 48px;
    margin-bottom:0;
    color:#f9faf8;
    font-weight:bolder;
    width:60%;
    margin-left:200px;
}
.myImage{
    width:70%;
    height: 250px;
    margin-right:50px;
}
a.button:link,a.button:visited{
    margin-left:200px;
    margin-top:100px;
    background-color:#3882F6;
    padding:10px;
    text-align:center;
    width:40%;
    color:#f9faf8;
    font-weight:bolder;
    text-decoration: none;
}
h2{
    background-color: #f9faf8;
    text-align: center;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    width:35%;
    padding: 10px;
}

.images{
    display: flex;
    justify-content:space-evenly;
    flex:auto;
    margin-left:auto;
    margin-right:70px;
}
.beauty{
    width:20%;
}
.beauty>img{
  border:10px solid;
  border-radius: 25px;
  margin:10px;
}
.beauty>p{
 text-align:center;
 padding:10px;
 font-size:18px;
 background-color: #f9faf8;
 width:80%;
 margin-left:auto;
}
.final_para{
    background-color:rgba(70, 216, 56, 0.821);
    margin:100px auto ;
    padding:70px;

}
.final_para>p{
    font-size: 36px;
    width: 50%;
    margin:0px auto;
    padding-bottom:0px;
    font-style: italic;
    color: #1F2937;
}
.final_para>.my{
    text-align: right;
    font-weight: bolder;
}

.contact{
    background-color:#3882F6;
    margin:0 200px;
    padding:20px;
    text-align: center;
    color: aliceblue;
    border-radius:7px;
    font-size: larger;
    font-weight: bold;
}
a.required:link,a.required:visited{
     text-decoration:none ;
     color:#f9faf8;
     margin-top:100px;
     padding: 15px;
     border: #f9faf8 solid 5px;
}